*{
  font-family: Tahoma;
}
body{
  background-color: rgb(100,50,0);
  color: white;
}
#Komunitas{
  font-family: Monospace;
  font-size: 7px;
  text-align: center;
}
h1{
  font-family: Times New Roman;
}
img{
  align-content: center;
  border: 2px solid black;
}
div.shortText>p{
  font-size: 10px;
  padding-left: 12px;
  color: rgba(255,255,255, 0.4);
}
div.ending>h5{
  font-size: 7px;
  text-align: center;
}
ul{
  font-size: 7px;
} 
